#content .section {
    background: none repeat scroll 0 0 white;
    padding: 1em;
    border-radius: 0px 0px 15px 15px;
    -moz-border-radius: 0px 0px 15px 15px;
}

.node-title h1 {
  position: absolute;
  margin-top: 65px;
  margin-left: 100px;
}

body {
  background: none repeat scroll 0 0 #98B865;
  color: #A66E2C;
}
#logo {
  border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  margin-top: 10px;
  vertical-align: top;
  background-image: url("http://surveys.sey.cm/sites/surveys.sey.cm/files/survey_header_v1.png");
  height: 96px;
  width: 960px;
}

.arrange-fields-container .draggable-form-item {
  width: 900px;
}

/*Fancy Form stuff*/

.fancy-next-button {
  float: right;
}
/*Hide sets*/
#webform-component-group-1, #webform-component-group-2, #webform-component-group-3, #webform-component-group-4, #webform-component-group-5, #webform-component-group-6, #webform-component-group-7, #webform-component-group-8, #webform-component-female-only, #webform-component-male-only, #webform-component-important, .page-node-1 #edit-submit,
.page-node-1 .captcha.form-wrapper {
  display: none;
}

/*Form Column Stuff*/
.page-node-1 .column-1, .page-node-1 .column-2 {
  width: 50%;
  float: left;
}
.fancy-buttons {
  clear: left;
}
